/* Contenedor que ocupa todo el ancho */
.navbar-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px 0;
  /* Eliminamos el height: 10px que tenías */
}

/* La cápsula oscura */
.navbar-content {
  width: 100%;
  max-width: 1000px;
  background-color: rgba(230, 214, 214, 0.171);
  display: flex;
  flex-direction: row; /* Asegura que sea horizontal */
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.05);
}

.logo-section {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo-img {
  width: 30px;
  height: 30px;
  border-radius: 6px; /* El logo original es algo cuadradito */
  object-fit: contain;
}

.nav-title {
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0; /* Quita márgenes por defecto del h1 */
}

.theme-toggle {
  background: transparent;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  color: #94a3b8; /* Color grisáceo para el icono */
}