/* *{
  
  background-image: radial-gradient(
    circle at 20% 10%, 
    #11192d 0%, 
    #050a18 100%
  );
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background-color: #0b0e14;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #ffffff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  width: 100%;
  background-image: radial-gradient(circle at 20% 10%, #11192d 0%, #050a18 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh; 
}

/* .App {
  min-height: 100vh;
  width: 100%;
  background: radial-gradient(circle at 20% 10%, #232c42 0%, #050a18 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.extensions-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  width: 100%;
  max-width: 1000px;
  padding-bottom: 50px;
}