*{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #ffffff;
  background-image: radial-gradient(
    circle at 20% 10%, 
    #11192d 0%, 
    #050a18 100%
  );
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  height: 100vh;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}